body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/Login/images/bg01.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px; /* Sayfanın maksimum genişliğini belirleyin */
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button[type="submit"] {
    background-color: #007bff; /* Mavi renk */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button[type="submit"]:hover {
        background-color: #0056b3; /* Koyu mavi renk */
    }
